@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-dark-grey;
  }

  h1 {
    @apply font-medium;
  }

  h2,
  h3 {
    @apply text-green-dark;
  }

  h2 {
    @apply text-5xl leading-[67px];
  }

  h3 {
    @apply text-4xl leading-[48px];
  }
}

@layer utilities {
  .shadow-custom {
    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
  }

  .neo-shadow-green {
    background: linear-gradient(145deg, #c4dbbb, #a5b99e);
    box-shadow: 7px 7px 13px #b2c7aa, -7px -7px 13px #bcd3b4;
  }

  .neo-shadow-brown {
    background: #9d7f69;
    box-shadow: inset 7px 7px 13px #987b66, inset -7px -7px 13px #a2836c;
  }

  .neo-shadow-blue {
    background: linear-gradient(145deg, #89daf4, #73b8cd);
    box-shadow: 7px 7px 13px #7dc8df, -7px -7px 13px #83d0e9;
  }
}

#home p {
  @apply text-xl;
}

.home-bg {
  background-image: url(../public/assets/images/home/header.png);
  @apply bg-cover bg-no-repeat;
}

.accordion-body[data-state="open"] {
  @apply animate-open;
}

.accordion-body[data-state="closed"] {
  @apply animate-close;
}

.accordion-header[data-state="open"] svg {
  @apply rotate-180;
}
